<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>withdraw Amount</h1>
<form th:action="@{account/withdraw}" method="post">
<label for="accountnumber" >Account Number</label>
<input type="text" id="accountNumber" name="accountNumber" required="required">
<label for="amount" >Amount</label>
<input type="text" id="amount" name="amount" required="required">
<button type="submit"> withdraw</button>
</form>

</body>
</html>