@charset "UTF-8";

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            background-color: gray;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }
        label, input {
            display: block;
            margin: 10px 0;
        }
        button {
            background-color: green;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: 10px auto;
        }
        button:hover {
            background-color: darkgreen;
        }